.secciones
{
    font-size: 25px;
    padding: 25px 0px 0px 45px;
    font-weight: 300;

}
.secciones .icon
{
    float: right;
}
header h2
{
    padding: 20px;
    background: rgba(193,193,193,0.61);
    font-size: 20px;
    font-weight: 300;
}
.secciones li
{     padding: 25px 0px 0px 45px;}
.fila
{
    float: left;width: 100%;
}
.main-container
{
    float: right;

}
@media screen and (min-width: 1025px) {
.sidenav-container
{
    width: 25%;
}
    .navigation
    {
        left: 25%;    width: 75%;
    }
    .main-container{
        width: 75%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 601px) and (max-width: 768px) {

}

@media screen and (max-width: 600px) {


}
body
{
    font-family: 'Roboto', sans-serif!important;
}
.main-color
{
    background-color:#1B1C1D;
    color: white;
}
.second-color
{
    background-color:#1B1C1D;
    color: white;

}
.alizarin
{
    background-color: #e74c3c;
}
.honey-flower
{
    background-color:#674172;

}
.belize-hole
{
    background-color: #2980b9;
}
.sidenav .sidenav
{
    display: none;
}
.sidenav-container
{
    float: right;
    position: fixed;
    height: 100%;
    overflow-y: scroll;

}
.sidenav-container::-webkit-scrollbar {
    display: none;
}
.sidenav .title a
{
    display: block;
    padding: 30px 20px 30px 20px;;
    font-size: 30px;
    float: left;width: 100%;
    background: rgba(25, 24, 25, 1);
    color: rgba(85, 88, 85, 1);

}
.sidenav .item
{
    font-size: 25px;

}
.sidenav .icon{
    position: relative;
    float: left;
    display: block;
    width: 20%;
    overflow: hidden;
    text-align: center;
    padding: 20px 0px 20px 0px;
    left: 0%;

}

.sidenav .item
{
    float: left;
    width: 100%;
    left: -19%;
    position: relative;
}
.sidenav .item .item .icon
{
    width: 10%;
}
.sidenav .item .item
{
    float: left;
    width: 100%;
    left: -10%;
    position: relative;
}


.sidenav .item a
{
    position: relative;
    float: left;
    width: 100%;
    color: white!important;
}
.sidenav .item:hover,.sidenav .item.active
{

    left: 0%;background-color: rgba(25, 24, 25, 1);;
}

.navigation
{
    min-height: 90px;
    float: left;

    position: relative;

}
.navigation .item
{
    padding: 25px;
}


.animated
{
    -webkit-transition: all 350ms ease-out;
    -moz-transition:all 350ms  ease-out;
    -ms-transition: all 350ms ease-out;;
    -o-transition: all 350ms ease-out;;
    transition: all 350ms  ease-out;
}
.sidenav .text
{
    float: left;
    left:0%;

    padding: 20px 0px 20px 5%;
    position: relative;
}
.shamrock
{
    background-color: #2ECC71;
}
.saffron
{
    background-color: #F4D03F;
}
.sidenav
{
    position: absolute;

    top:0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

#body
{
    padding: 20px;
}
.list
{
    width: 100%;
    float: left;
    background-color: rgba(122,122,122,0.61);
}