/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
     font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #ededed;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.fila
{
    float: left;
    width: 100%;
}
em
{
    font-style: italic;
}
strong{
    font-weight: 600!important;
}
@media screen and  (min-width:769px)  {


    .l1{width:8.33333%;float: left}
    .l2{width:16.66666%;float: left}
    .l3{width:24.99999%;float: left}
    .l4{width:33.33333%;float: left}
    .l5{width:41.66666%;float: left}
    .l6{width:49.99999%;float: left}
    .l7{width:58.33333%;float: left}
    .l8{width:66.66666%;float: left}
    .l9{width:74.99999%;float: left}
    .l10{width:83.33333%;float: left}
    .l11{width:91.66666%;float: left}
    .l12{width:99.99999%;float: left}
    .hide-l
    {
        display: none!important;
    }
}

@media screen and (min-width:601px) and (max-width:768px) {
    .m1{width:8.33333%;float: left}
    .m2{width:16.66666%;float: left}
    .m3{width:24.99999%;float: left}
    .m4{width:33.33333%;float: left}
    .m5{width:41.66666%;float: left}
    .m6{width:49.99999%;float: left}
    .m7{width:58.33333%;float: left}
    .m8{width:66.66666%;float: left}
    .m9{width:74.99999%;float: left}
    .m10{width:83.33333%;float: left}
    .m11{width:91.66666%;float: left}
    .m12{width:99.99999%;float: left}
    .hide-m
    {
        display: none!important;
    }
}
@media screen and (max-width:600px) {
    .s1{width:8.33333%;float: left}
    .s2{width:16.66666%;float: left}
    .s3{width:24.99999%;float: left}
    .s4{width:33.33333%;float: left}
    .s5{width:41.66666%;float: left}
    .s6{width:49.99999%;float: left}
    .s7{width:58.33333%;float: left}
    .s8{width:66.66666%;float: left}
    .s9{width:74.99999%;float: left}
    .s10{width:83.33333%;float: left}
    .s11{width:91.66666%;float: left}
    .s12{width:99.99999%;float: left}
    .hide-s
    {
        display: none!important;
    }
}

h1
{
    font-size: calc(30px + 3vw)
}

h2
{
    font-size: calc(20px + 2.5vw)
}
h3
{
    font-size: calc(15px + 2vw)
}
h4
{
    font-size: calc(14px + 1.7vw)
}
h5
{
    font-size: calc(12px + 1.5vw)
}
h6
{
    font-size: calc(9px + 1.2vw)
}
.container-a
{
    padding: 5vw;
    float: left;
    width: 100%;

}

.container-b
 {
     padding: 10vw;
     float: left;
     width: 100%;

 }

.container-c
{
    padding: 15vw;
    float: left;
    width: 100%;

}

form
{
    float: left;
    width: 100%;
}
form > div
{
    float: left;
    width:100%;
    padding: 10px;
}
form > div input,form > div select
{
    border: none
;outline: none;
    float: left;
    width: 100%;
    padding: 8px;
    font-size: 22px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;;
    -ms-transition: all 300ms;;
    -o-transition: all 300ms;;
    transition: all 300ms;;
}
form > div input:focus,form > div select:focus
{

    background-color: #2a2a2a;
    color: white;
}
form > div label
{
    float: left;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}
form > div .editor,form > div .ql-toolbar
{
    width: 100%;
    float: left;
    background-color: white;

}


form > div .editor
{
    height: 200px;
}

form > div .ql-editor
{
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;;
    -o-transition: all 300ms;;
    transition: all 300ms;;
}
form > div .ql-editor:focus
{
    /* background-color: #2a2a2a;
        color: white;
    */}

.icon-trash {
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;
    margin-left: 25px;
    margin-bottom: 25px;
}

.icon-trash .trash-lid {
    -webkit-transition: all 300ms;
    -moz-transition: all  300ms;
    -ms-transition: all  300ms;
    -o-transition: all 300ms;
    transition: all  300ms;
    width: 62%;
    height: 10%;
    position: absolute;
    left: 50%;
    margin-left: -31%;
    top: 10.5%;
    background-color: #000;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;/*
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);*/
}
.icon-trash:hover .trash-lid
{      -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    top:-7%;
}
.icon-trash .trash-lid:after {
    content: "";
    width: 26%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -13%;
    margin-top: -10%;
    background-color: inherit;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.icon-trash .trash-container {
    width: 56%;
    height: 65%;
    position: absolute;
    left: 50%;
    margin-left: -28%;
    bottom: 10%;
    background-color: #000;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.icon-trash .trash-container:after {
    content: "";
    width: 110%;
    height: 12%;
    position: absolute;
    left: 50%;
    margin-left: -55%;
    top: 0;
    background-color: inherit;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.icon-trash .trash-line-1 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 38%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}
#body
{
    position: relative;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.icon-trash .trash-line-2 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}

.icon-trash .trash-line-3 {
    width: 4%;
    height: 50%;
    position: absolute;
    left: 62%;
    margin-left: -2%;
    bottom: 17%;
    background-color: #252527;
}


.promptModal
{
    background-color: white;
    padding: 15px;
    float: left;
    width: 100%;
}

.promptModal .buttons
{
    margin-top: 15px;
    float: left;
    width: 100%;
    text-align: center;
}

.promptModal p
{
    font-weight: 100;
}
.promptModal p b
{
    font-weight: 600;
}
.promptModal .buttons > div
{
    float: left;
    padding: 10px;
    width: 50%;
}
.promptModal .buttons .yes
{
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #4dca3e;
    cursor: pointer;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.promptModal .buttons .no
{ float: left;
    width: 100%;
    padding: 10px;
    background-color: #ca4139;
    cursor: pointer;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.promptModal .buttons .yes:hover
{
    background-color: #24ca2c;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.promptModal .buttons .no:hover
{
    background-color: #ca3835;        -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

button
 {
    background: #2a2a2a!important;
    color: white;
    float: left;
    width: 100%;
    display: block;
    padding: 15px;
    font-size: 17px;
    border: 0;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;;
    -ms-transition: all 300ms;;
    -o-transition: all 300ms;;
    transition: all 300ms;;
 }
button:active
{
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}
.ql-formats button
{
    background-color: white!important;
}