@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* W3.CSS 2.99 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

html,body
{
    font-family: 'Open Sans', sans-serif!important;
}
.portada > section  .top
{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    margin: auto;
}

.portada > section  .body
{

    width:1200px;
    display: flex;
    display: -webkit-flex;
    margin: auto;
}

.portada .swiper-container {
    width: 100%;
    height: 500px;

}

.portada .swiper-container figure{
    width: 100%;
    height: 100%;

}
.portada .swiper-container figure img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.portada .slider-container
{
    width: 100%;
    display: flex;
    position: relative;
    margin: auto;
}

.portada .slider-tag
{
    position: absolute;
    z-index: 102;
    bottom: 10px;
    left: 0px;
    background-color: rgba(255, 225, 26, 0.8);
    padding: 8px;
    font-weight: 300;
    color: black;
}


.portada .slider-title
{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:35px;
    z-index: 101;
    /* background: white; */
    background-color: rgba(56, 58, 51, 1);
    color: white;
    padding: 15px;
    width: 450px;
    top: 60px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;

    align-items: center;
}
.portada .slider-title .profile img
{

    width:  30%;
    height: 100%;
}
.portada .slider-title .profile .name
{

    font-size: 20px;
    margin-top: 10px;
    color: #00aced;
    letter-spacing: 1px;
}
.portada .slider-title .profile
{

    position: relative;
    left: 20px;
    width:  100%;

}
.portada .slider-title .title
{

    width:  70%;
    line-height: 40px;
}
.portada .slider-title .line
{
    margin-top: 15px;
    height: 1px;
    width: 100%;
    background-color: rgba(191, 195, 189, 1);
    margin-bottom: 15px;
}


.portada .slider-title .text
{
    left: 20px;
    position: relative;
    width:  100%;

}

.portada .body
{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100%;
}


.portada .body .col-1
{

    width: 100%;
}

aside
{
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;

    display: -webkit-flex;;
}

.portada .bloque-1
{

    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;

    padding-top: 15px;
    padding-bottom: 15px;
}
.portada .bloque-1 .item-container
{

    width: 33.33333%;
    padding: 15px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;


}

.portada .bloque-1 .item
{
    background-color: rgba(0, 0, 0, 0.69);
    width: 100%;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 7px 5px -6px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 7px 5px -6px rgba(0,0,0,0.47);
    box-shadow: 10px 7px 5px -6px rgba(0,0,0,0.47);
}

img
{
    display: flex;
    display: -webkit-flex;
}

.portada .bloque-1 .item img
{

    width: 100%;
    object-fit: cover;
    height: auto;
    height: 203px;
}

.portada .bloque-1 .item .title
{


    width: 100%;
    color: white;
    line-height: 23px;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.portada .bloque-1 .item .title .text
{

}
.portada .bloque-1 .item .tag
{
    position: absolute;
    top: 0px;
    /* left: 10px; */
    padding: 8px;
    height: 203px;
    width: 100%;
    color: white!important;
    font-weight: 600;

}
.portada .bloque-1 .item .tag:hover
{

background-color: transparent!important;
}

.portada .bloque-1 .item:hover .text-2
{

    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 102;
    display: block;

}

.portada .bloque-1 .item .text-2
{

    position: absolute;
    top: 0px;
    overflow: hidden;
    height: 100%;
    z-index: 102;
    display: none;

}


.animated
{
    -webkit-transition: all 300ms;
    -moz-transition: all  300ms;
    -ms-transition: all  300ms;
    -o-transition: all  300ms;
    transition: all  300ms;
}
.portada .body-container-1
{
    width: 100%;
    background-color:  #f2f2f2;
}




@media screen and (max-width: 1199px)
{


}
@media screen and (max-width: 1023px)
{

}

@media screen and (max-width: 768px)
{

}


@media screen and (max-width: 640px)
{

}




@media screen and (max-width: 480px)
{

}



@media screen and (max-width: 414px)
{

}

@media screen and (max-width: 375px)
{

}
@media screen and (max-width: 360px)
{

}

@media screen and (max-width: 320px)
{
}
