@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* W3.CSS 2.99 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

html,body
{
    font-family: 'Open Sans', sans-serif!important;
}



/** Comunes**/

.fit
{
    width: 100%;
    height: 100%;
}
img.fit
{
    object-fit: cover;
}
.flex
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

}

.main-background-color
{
    background-color: #009688;
}
.main-color
{
    color: #009688;
}

/*** **/

/** Portada **/

.portada .grid .cell
{
    width: 33.33333%;
    height: 340px;
}


/** **/



@media screen and (max-width: 1199px)
{


}
@media screen and (max-width: 1023px)
{

}

@media screen and (max-width: 768px)
{

}


@media screen and (max-width: 640px)
{

}




@media screen and (max-width: 480px)
{

}



@media screen and (max-width: 414px)
{

}

@media screen and (max-width: 375px)
{

}
@media screen and (max-width: 360px)
{

}

@media screen and (max-width: 320px)
{
}
