
.player-form,.form-title
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 40%;
    float: left;
    left: 30%;
    position: relative;


}
.player-form input,.player-form select
{
    padding: 10px;
}
.player-form-container
{
    padding: 5% 0px 10% 0px;
    width: 100%;
    float: left;
}
