
.sidenav
{
    float: right;background: #e8e5e5;width: 30%;position: fixed;right: -30%;min-height: 100%;
    overflow: hidden;
}
.sidenav li:hover > .mask
{
    padding: 30px 0 30px 20px;

    opacity: 1;
    width: 100%;
}
.sidenav li .mask
{
    background-color: white;
    position: absolute;
    color: transparent;
    width: 0%;
    opacity: 0;
    white-space: nowrap;
    z-index: -1;
}
.sidenav li
{
    float: left;
    width: 100%;
}


.sidenav li a{


    -webkit-transition: all 500ms ease-in-out ;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;




    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 30px 0 30px 35px;
    display: block;
    float: left;
    width: 100%;
}

