
<div class="player">
    
    <header>
    <h2></h2>
    </header>
    <footer>
        
  
<audio  src="https://r2---sn-x1x7snse.googlevideo.com/videoplayback?pl=20&itag=22&dur=604.740&lmt=1497712959098202&key=cms1&ip=200.58.110.70&mime=video%2Fmp4&id=o-ANI4SjAgwUdzyEA5OxLY5qDA0JveVT6SnHcmAnchnt0O&source=youtube&sparams=dur,ei,expire,id,ip,ipbits,ipbypass,itag,lmt,mime,mip,mm,mn,ms,mv,nh,pcm2cms,pl,ratebypass,requiressl,source&ipbits=0&ratebypass=yes&expire=1497743904&requiressl=yes&signature=67F332FA59B97F678B59381678BA840762E9200F.828AA3C3886FA51093AF0D34BCE9ACA844CED6B2&ei=wG1FWZz1DoKMwQS8kp-wCw&req_id=766ca67dd7dca3ee&redirect_counter=2&cms_redirect=yes&ipbypass=yes&mip=190.188.45.129&mm=30&mn=sn-x1x7snse&ms=nxu&mt=1497722202&mv=m&nh=IgpwcjAyLmV6ZTA0KgkxMjcuMC4wLjE"  controls>
 </audio>

    
    </footer>
</div>